.fp-watermark {
  display: none;
  }
  
body{
  background-color: white;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: background-color 500ms ease-out 200ms;
  -moz-transition: background-color 500ms ease-out 200ms;
  -o-transition: background-color 500ms ease-out 200ms;
  transition: background-color 500ms ease-out 200ms;
}
body.fp-viewing-issue1 {
  background: rgba(168,120,162,255);
}
body.fp-viewing-issue2 {
  background: rgba(91,125,131,255);
}
body.fp-viewing-issue3 {
  background: rgba(166,149,155,255);
}
body.fp-viewing-issue4 {
  background: rgba(104,143,158,255);
}
body.fp-viewing-issue5 {
  background: rgba(121,117,112,255);
}

.header-txt h1, 
.header-txt ul li a,
.header-txt ul li a button{
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
  text-decoration: none;
  color: rgba(245, 245, 245, 0.3);
  font-size: 15px;
}
.header-txt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  position: fixed;
  width: 100%;
  transition: transform 0.3s ease;
}
.header-txt.scrolled{
  transform: translatey(-20px);
}
.header-txt h1 {
  margin: 0;
}
.header-txt ul {
  display: flex;
  padding: 0;
  list-style-type: none;
  justify-content: flex-end;
  margin-right: 20px;
}
.header-txt ul li {
margin-left: 10px;
}

#button-link {
  outline: 0 !important;
  border: 0 !important;
  background-color: transparent;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
  transition: all 600ms cubic-bezier(0.2, 0, 0, 0.8);
}
#button-link:hover{
transform: translateY(-3px);
color: whitesmoke;
}

.menu {
  position: fixed;
  top: 0;
  left: -30px;
  align-items: center;
  justify-content: space-between;
  padding: 250px 1px;
  transition: 0.7s;
  z-index: 10;
}
.menu .navbar2 ul {
  list-style-type: none;
}
.menu .navbar2 ul li a {
  padding: 8px;
  color: rgba(245, 245, 245, 0.3);
  fill: white;
  display: block;
  transition: all 0.5s;
}
.menu .navbar2 ul li a:hover {
  transform: scale(1.2);
  color: whitesmoke;
}

.middle{
  padding-top: 60px;
  padding-bottom: 20px;
}
.middle .cover{
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
  text-decoration: none;
  color: whitesmoke;
  font-size: 15px;

}

.middle .cover img{
  max-width: 23%; 
  height: auto;
  box-shadow: 0px 0px 10px 5px #2929293f;
  backdrop-filter: blur(20px);
  transition: box-shadow 0.3s ease;
}
.middle .cover img:hover {
  box-shadow: 0px 0px 20px 1px #2929293f;
}
.middle .cover .orin a{
  font-size: 15px;
  text-decoration: none;
  color: whitesmoke;
  transition: all 0.8s;
}
.middle .cover .orin a:hover{
  color: rgb(56, 9, 9);
}
.orin a, p {
margin: 5px;
}
.orin-sold a {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
  text-decoration: none;
  color: whitesmoke;
  font-size: 15px;
  font-weight: bold; 
}

.footer-content{
  text-align: center;
}
.footer-content .link ul li{
  list-style: none;
  display: inline-block;
}
.footer-content .link ul li a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
  text-decoration: none;
  color: whitesmoke;
  font-size: 12px;
}
.footer-content .link ul.left {
  float: left;
}
.footer-content .link ul.right {
  float: right;
}
